<?xml version="1.0" encoding="utf8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <filter>
    <filter-name>SayHelloPlan</filter-name>
    <filter-class>gaeunfilteredscalateexample.SayHelloPlan</filter-class>
  </filter>
  <filter>
    <filter-name>SayGoodbyePlan</filter-name>
    <filter-class>gaeunfilteredscalateexample.SayGoodbyePlan</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SayHelloPlan</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/hello</url-pattern>
    <url-pattern>/hello/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SayGoodbyePlan</filter-name>
    <url-pattern>/goodbye</url-pattern>
    <url-pattern>/goodbye/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html; charset=utf-8</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css; charset=utf-8</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>js</extension>
    <mime-type>text/javascript; charset=utf-8</mime-type>
  </mime-mapping>
</web-app>
